@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btn {
  @apply rounded px-4 py-2 font-bold;
}
.btn-blue {
  @apply bg-blue-500 text-white;
}

.btn-gray {
  @apply bg-gray-500 text-white;
}

.btn-gray:hover  {
  @apply bg-gray-700 text-white;
}

.btn-blue:hover {
  @apply bg-blue-700;
}

html {
  scroll-behavior: smooth;
  /* height of sticky header */
  scroll-padding-top: 4rem;
  margin: 0;
  overflow-x: hidden;
  height: 100%;
}

body {
  margin: 0;
  overflow-y: scroll;
  position: relative;
}
